nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/Pong/nbproject/private/
neuroph-2.93/
Pong/
/MusicClassificationbByGenre/nbproject/private/
PongNNet/nbproject/project.properties
PongNnReborn/nbproject/project.properties
*.nnet

